
<div class="row">
  <div class="col-sm-12 col-md-12 col-lx-12">

      <div class="form-row">
        <div class="col-md-4 col-sm-12">
          <label for="selectCapitals">Capital Brasileira</label>

          <select class="form-control" id="selectCapitals"
          [(ngModel)]="selectedCity"
          (ngModelChange)="changeCity($event)" >
            <option *ngFor="let item of cities" [ngValue]="item">{{item.name}} - {{item.state}}</option>
          </select>

        </div>
        <div class="col-md-3 col-sm-12">
          <label for="dataIni">Previsões de:</label>
          <input type="date" class="form-control " />
        </div>
        <div class="col-md-3 col-sm-12">
          <label for="dataFim">Até:</label>
          <input type="date" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-12">
            <br/>
            <button class="btn btn-dark btn-sm">Filter</button>
        </div>
      </div>


  </div>

</div>

<hr/>

<div class="row">

  <div class=" col-xl-4 col-sm-12 col-md-4">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ actualWeather.nameCity }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Temperatura Atual</h6>
        <span><h2>{{ actualWeather.temp }}º</h2></span>
      </div>
    </div>


    <table class="table">
      <tbody>
        <tr>
          <td>Speed Wind</td>
          <td>{{ actualWeather.speedWind }}</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{ actualWeather.pressure }}</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ actualWeather.humidity }}</td>
        </tr>
        <tr>
          <td>Clouds</td>
          <td>{{ actualWeather.cloudsPercent }}%</td>
        </tr>
        <tr>
          <td>Weather</td>
          <td>{{ actualWeather.weatherDescription }}%</td>
        </tr>
        </tbody>
     </table>
  </div>


  <div class="col-xl-8 col-sm-12 col-md-8">
    <div class="chart-wrapper">
      <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>

<br/>
<!--[colors]="lineChartColors"-->
<div class="row">

  <div class="col-sm-12 col-md-12  col-xl-12">
    <div class="chart-wrapper">
      <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"

          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>

</div>



